@import 'src/assets/variables';

.table-container {
  display: flex;
  flex-direction: column;
  background: $gray-100;
  justify-content: center;
  //height: calc(100vh - 77px);
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 24px 0 24px;

    .control-buttons {
      display: flex;
      justify-content: flex-end;

      .edit-button,
      .save-button {
        margin-right: 16px;
      }
    }
  }

  .table-filters {
    .filter-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin: 50px 24px 0 24px;
      .filters {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .filter-inputs {
          display: flex;
          justify-content: flex-start;
          width: auto;
        }
        .filter-inputs > * {
          min-width: 228px;
          margin-right: 16px;
        }
      }
      //.filters > * {
      //  width: 228px;
      //  margin-right: 16px;
      //}
      .additional-filters {
        margin-top: 24px;
        min-height: 0;
        transition: min-height 0.5s;
      }
      .additional-filters > div {
        display: flex;
        justify-content: flex-start;
      }
      .additional-filters > div > * {
        min-width: 228px;
        margin-right: 16px;
      }

      .filter-panel-open{
        min-height: 150px;
        height: auto;
        transition: min-height 0.5s;
        z-index: 30;
      }

      .filter-controls {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        min-width: 300px;

        button.clear-filters-btn {
          margin-left: 16px;
          height: 46px;
          background: none;
          border: none;
          color: $gray-800;
          font-family: $raleway-font;
          font-size: $h6-font-size;
          font-weight: $bold-font-weight;
          display: flex;
          align-items: center;

          div {
            width: 20px;
            height: 20px;
            margin-left: 10px;
            border-radius: 100%;
            background: $primary-accent;

            span {
              color: $base-white;
            }
          }
        }
      }
    }
  }

  .table {
    background: $base-white;
    border-radius: $all-sides-2xl;
    border: 1px solid $gray-200;
    color: $gray-800;
    font-family: $raleway-font;
    font-size: $h5-font-size;
    font-weight: $medium-font-weight;
    margin: 24px;
    height: calc(100vh - 173px);
    overflow: auto;

    .header-container {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: min-content;
      padding: 18px 24px;
      position: sticky;
      top: 0;
      background: $base-white;
      border-bottom: 1px solid $gray-200;
      z-index: 20;

      .header-cell {
        display: flex;
        justify-content: center;
        color: $gray-600;
        font-weight: $bold-font-weight;
        line-height: 150%;

        span {
          font-size: $h6-font-size;
        }

        button {
          background: none;
          border: none;
          margin-left: 17px;

          svg.bi.icon.icon--sort {
            width: 16px;
            height: 16px;
            color: $gray-600;
          }
        }
      }
    }

    .table-row-container {
      .table-row:not(:first-child) {
        border-top: 1px solid $gray-200;
      }

      .table-row {
        text-align: center;

        .row-container {
          display: grid;
          grid-auto-flow: column;
          grid-template-columns: min-content;
          cursor: pointer;
          padding: 24px;

          .table-cell-container,
          .row__checkbox {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .row-open-icon {
            display: flex;
            align-items: center;
            width: 43px;
            justify-content: flex-end;

            button {
              background: none;
              border: none;
              cursor: pointer;

              svg.bi.icon.icon--open {
                width: 16px;
                height: 16px;
                color: $gray-600;
                transition: all 0.1s ease-in;
              }

              .rotate {
                transform: rotate(180deg);
              }
            }
          }
        }

        .row-container.active {
          background: $gray-200;
        }

        .row-container:hover {
          background: $gray-100;
        }

        .slot-container.collapse-content {
          min-height: 0;
          overflow: hidden;
          transition: min-height 0.5s;
        }

        .expand-content {
          min-height: 250px;
          height: auto;
          transition: min-height 0.5s;
        }
      }
    }
  }

  .table::-webkit-scrollbar {
    width: 4px;
  }

  .table::-webkit-scrollbar-track {
    background-color: $base-white;
    margin-block: 25px;
  }

  .table::-webkit-scrollbar-thumb {
    border-radius: 9px;
    box-shadow: inset 0 0 6px $gray-400;
  }

  .pagination {
    margin: 0 24px 24px 24px;
  }
}

.expand-transition {
  transition: all 0.5s ease;
}
/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.expand-enter, .expand-leave {
  height: 0;
  opacity: 0;
}

.modal-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(45, 55, 72, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  z-index: 100;

  .modal-content-container {
    position: fixed;
    background: $base-white;
    border-radius: $all-sides-xl;
    box-shadow: $shadow-sm;
    padding: 32px;
    max-width: calc(418px - 32px - 32px);

    .modal-content {
      &__header {
        display: flex;
        justify-content: center;
        color: $gray-700;
        font-weight: $bold-font-weight;
        font-size: $h4-font-size;
      }

      &__message {
        font-weight: $regular-font-weight;
        font-size: $h6-font-size;
        line-height: 150%;
        display: flex;
        align-items: center;
        text-align: center;
        color: $gray-700;
        white-space: break-spaces;
        margin-top: 16px;
      }
    }

    .modal-controls {
      display: flex;
      justify-content: center;
      gap: 12px;
      margin-top: 32px;
    }
  }
}

::v-deep(.egal-button--lg) {
  padding: 13.5px 24px;
}