@import 'src/assets/variables';

@mixin button($radius: 6px, $font-size: $h7-font-size, $padding: 12px 20px, $soft-colors: false) {
  display: inline-flex;
  border: none;
  background-color: $default-accent;
  border-radius: $radius;
  cursor: pointer;
  align-items: center;
  padding: $padding;
  transition: 0.1s;

  font-family: $open-sans-font;
  font-size: $font-size;
  font-weight: $h6-font-style;
  color: $gray-100;

  &__icon {
    &--left {
      margin-right: 8px;
    }

    &--right {
      margin-left: 8px;
      transition: all 0.1s ease-in;
    }
    &--right.rotate-right-icon {
      transform: rotate(180deg);
    }
  }

  &:disabled {
    cursor: default;
    color: $gray-500;
    background-color: $gray-200;
  }

  &:hover:enabled {
    background-color: $hover-accent;
  }

  &:active:enabled {
    background-color: $pressed-accent;
  }
}

@mixin button-soft() {
  color: $info;
  background-color: $default-secondary;

  &:hover:enabled {
    color: $gray-100;
    background-color: $hover-secondary;
  }

  &:active:enabled {
    color: $gray-100;
    background-color: $pressed-secondary;
  }
}
