@import 'variables';
@import 'baseTogglersMixin';

@mixin checkbox($pseudo-element: 'before') {
  @include baseTogglerMixin($pseudo-element);

  .text::#{$pseudo-element} {
    border-radius: $all-sides-small;
  }

  #{$selector-input-hover}::#{$pseudo-element} {
    border-color: var(--input-border-color-hover);
  }

  #{$selector-active}::#{$pseudo-element} {
    border-color: var(--input-border-color-active);
  }
  #{$selector-active-checked}::#{$pseudo-element} {
    border-color: var(--input-border-color-active);
    background-color: var(--input-background-color-active);
  }

  #{$selector-checked}::#{$pseudo-element} {
    border-color: var(--input-border-color-checked);
    background-color: var(--input-background-color-checked);
    background-image: url("~@/assets/icons/check-lg.svg");
  }
  #{$selector-disabled}::#{$pseudo-element} {
    border-color: var(--input-border-color-disabled);
    background-image: url("~@/assets/icons/dash-lg.svg");
    background-size: 50%;
  }
}

