@import 'src/assets/variables';
@import 'baseTogglersMixin';

// Нужно передавать только код цвета (т.е. без решётки в начале)!
// Это из-за того, что решётка уже прописана в URL и закодирована как "%23" для совместимости с FireFox
@mixin colored-background-circle($color) {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='8' fill='%23#{$color}'/%3e%3c/svg%3e ");
}

@mixin radio($pseudo-element: 'before') {
  @include baseTogglerMixin($pseudo-element);

  .text::#{$pseudo-element} {
    border-radius: 100%;
  }

  #{$selector-input-hover}::#{$pseudo-element} {
    border-color: var(--input-border-color-hover);
  }

  #{$selector-checked}::#{$pseudo-element} {
    border-color: var(--input-border-color-checked);
    @include colored-background-circle('3385FF');
  }

  #{$selector-active}::#{$pseudo-element} {
    border-color: var(--input-border-color-active);
  }
  #{$selector-active-checked}::#{$pseudo-element} {
    border-color: var(--input-border-color-active);
    @include colored-background-circle('005CE4');
  }

  #{$selector-disabled-checked}::#{$pseudo-element} {
    border-color: var(--input-border-color-disabled);
  }
  #{$selector-disabled}::#{$pseudo-element} {
    @include colored-background-circle('E2E8F0');
  }
  #{$selector-disabled-not-checked}::#{$pseudo-element} {
    background-image: none;
  }
}
