@import 'variables';
@import 'baseTogglersMixin';

@mixin toggle($pseudo-element: 'before') {
  @include baseTogglerMixin($pseudo-element);
  --input-background-color: #{$gray-400};
  --input-background-color-disabled: #{$gray-200};


  .text::#{$pseudo-element} {
    width: 2.5em;
    height: 1.3em;
    border-color: var(--input-background-color);
    border-radius: $all-sides-pill;
    background-color: var(--input-background-color);
    background-image: url("~@/assets/icons/circle-fill.svg");
    background-position-x: left;
    background-size: 50%;
  }

  #{$selector-checked}::#{$pseudo-element} {
    border-color: var(--input-border-color-checked);
    background-color: var(--input-background-color-checked);
    background-position-x: right;
  }

  #{$selector-disabled}::#{$pseudo-element} {
    border-color: var(--input-background-color-disabled);
    background-color: var(--input-background-color-disabled);
  }
  #{$selector-disabled-checked}::#{$pseudo-element} {
    background-position-x: right;
  }
}