@import 'src/assets/variables';
@import 'baseTogglersMixin';

@mixin toggle($pseudo-element: 'before') {
  @include baseTogglerMixin($pseudo-element);
  --input-background-color: #{$gray-400};
  --input-background-color-disabled: #{$gray-300};

  .text::#{$pseudo-element} {
    width: 2.5em;
    height: 1.2em;
    border-color: var(--input-background-color);
    border-radius: $all-sides-pill;
    background-color: var(--input-background-color);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8.25' cy='8.00049' r='8' fill='white'/%3e%3c/svg%3e");
    background-position-x: left;
    background-size: 48%;
  }

  #{$selector-checked}::#{$pseudo-element} {
    border-color: var(--input-border-color-checked);
    background-color: var(--input-background-color-checked);
    background-position-x: right;
  }

  #{$selector-disabled}::#{$pseudo-element} {
    border-color: var(--input-background-color-disabled);
    background-color: var(--input-background-color-disabled);
  }
  #{$selector-disabled-checked}::#{$pseudo-element} {
    background-position-x: right;
  }
}
